*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: dotted red;
}
body{
    display: flex;
    flex-direction: column;
    overflow-x: scroll;
    height: 100vh;
}
.backgroundimg{
    width: 100%;
    background-image: url("Wildhogs.webp");
    background-size: cover;
    background-position: center;
    opacity: .75;
    flex-grow: 1
}
header{
    display: flex;
    justify-content: space-around;
    padding: 2rem;
    background-color: rgb(135, 225, 182);
    color: white;
    font-size: 1rem;
    font-weight: bold;
    text-transform: uppercase;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

nav{
    display: flex;
    justify-content: space-around;
    font-size: 0.75rem;
}
.container{
    width: 100%;
    display: flex;
    flex-grow: 1;
    flex-direction: row;
}